 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Rambla', sans-serif;
 }

 main {
  flex: 1 0 auto;
 }

 a {
  color: black;
 }

 .coding-text {
  display: none;
  font-size: 20px;
 }

 .mbm-text {
  display: none;
  font-size: 20px;
 }

 .graphic-design-text {
  display: none;
  font-size: 20px;
 }

 nav.nav-center ul {
  text-align: center;
 }

 nav.nav-center ul li {
  display: inline;
  float: none;
 }

 nav.nav-center ul li a {
  display: inline-block;
 }

 .email {
  font-weight: bold;
 }

 .subText {
  font-size: 20px;
 }

 .about {
  padding-top: 100px;
  padding-bottom: 150px;
 }

 .info {
  padding-bottom: 100px;
 }

 .visit {
  width: 100%;
 }

 .heading {
  font-family: 'Bevan', cursive;
 }

 .divider {
  margin-bottom: 10px;
 }

 .white {
  background-color: black;
  border-color: blue;
 }

 .icon {
  width: 200px;
 }

 .mbm-img {
  margin-bottom: 75px
 }

 blockquote {
  border-left-color: #607d8b;
 }

 .github {
  margin-top: 20px;
 }

 .connect {
  padding-top: 150px;
  padding-bottom: 150px;
 }

 .bottom {
  margin-bottom: 15px;
 }
 
 
 @media only screen and (max-width: 600px) {
  
  nav {
   width:100%;
  } 
  .about {
   padding-top: 100px;
   padding-bottom: 0;
  }

  .info {
   padding-bottom: 50px;
  }

  .mbm-img {
   margin-bottom: 0;

  }

  .box {
   border: 2px solid black;
   padding: 50px 50px 50px 50px;
  }
  
  .icon {
   width: 160px;
  }

  h3 {
   font-size: 24px;
  }

  .subText {
   font-size: 14px;
  }

  .buyButton {
   margin-bottom: 15px;
  }
 }
 