 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     font-family: 'Noto Sans', sans-serif;
 }

 main {
     flex: 1 0 auto;
 }

 .coding-text {
     display: none;
 }

 .mbm-text {
     display: none;
 }

 .graphic-design-text {
     display: none;
 }

 nav.nav-center ul {
     text-align: center;
 }

 nav.nav-center ul li {
     display: inline;
     float: none;
 }

 nav.nav-center ul li a {
     display: inline-block;
 }

 .subText {
     text-decoration: underline;
 }

 .about {
     padding-top: 150px;
     padding-bottom: 150px;
 }

 .info {
     padding-bottom: 400px;
 }

 .visit {
     width: 100%;
 }
 
 h5 {
  font-weight: bold;
 }
 
 
 @media only screen and (max-width: 600px) {
  .about {
   padding-top: 25px;
   padding-bottom: 0;
  }
  
  .info {
   padding-bottom: 50px;
  }
  
}

a {
 color:black;
}

